<h2 class="text-center">City management</h2>
<div class="offset-md-3 col-md-6">
  <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
    <p>
      <b>Name:</b>
      <input class="form-control" ngModel name="name" #userName="ngModel" required>
    </p>
    <p>
      <b>City:</b>
      <input class="form-control" [ngModel]="msg" name="city" #userCity="ngModel">
    </p>
    <p>
      <b>State:</b>
      <input class="form-control" ngModel name="state">
    </p>
    <div class="mt-4">
      <button class="btn btn-primary" >Submit</button>
      <button class="btn btn-primary ml-4" (click)="resetUserForm(userForm)">Reset</button>
    </div>
  </form>
</div>
{{msg}}
<div class="mt-4">
  <p><b>Form value:</b> {{ userForm.value | json }}</p>
  <p><b>Form valid:</b> {{ userForm.valid }}</p>
  <p><b>Form touched:</b> {{ userForm.touched }}</p>
  <p><b>Form submitted:</b> {{ userForm.submitted }}</p>
  <p><b>Form pristine:</b> {{ userForm.pristine }}</p>
</div>
<div>
  <p><b>Name value:</b> {{ userName.value }}</p>
  <p><b>Name vaild:</b> {{ userName.valid }}</p>
</div>
<div>
  <p><b>City value:</b> {{ userCity.value }}</p>
  <p><b>City vaild:</b> {{ userCity.valid }}</p>
</div>
