
<h2>{{title}}</h2>
<!-- <ul>
    <li *ngFor="let item of employees">{{item.Name}}</li>
</ul> -->
<div class="row">
    <div class="col-md-8">
        <input type="text" [(ngModel)]="keyword" name="keyword"/>
        <button (click)="search()">Search</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">Age</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of employees">
            <th scope="row">{{item.id}}</th>
            <th scope="row">
                <a [routerLink]="['/employee-detail', item.id]">{{item.name}}</a>
            </th>
            <th scope="row">{{item.createdAt | date}}</th>
            <th scope="row">{{item.age}}</th>
            <th scope="row">{{item.status}}</th>
            <th scope="row">
                <button class="btn btn-primary" [routerLink]="['/employee-edit', item.id]">Edit</button>
                <button class="btn btn-danger" (click)="deleteEmployee(item.id)">Delete</button>
            </th>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a href="#" aria-label="Previous" class="page-link">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let page of pages">
            <a class="page-link" [routerLink]="['/employees']" [queryParams]="{pageNumber:page}">{{page}}</a>
        </li>
        <li>
            <a href="#" aria-label="Next" class="page-link">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<div class="row">
    <button class="btn btn-success" [routerLink]="['/employee-add']">Add new employee</button>
</div>
