<div>
  <a class="nav-link" routerLink="login" routerLinkActive="active">Login </a>
</div>
<div>
  <a class="nav-link" routerLink="tutorial" routerLinkActive="active">Go to tutorial </a>
</div>
<div>
  <a class="nav-link" routerLink="directive" routerLinkActive="active">Back directive </a>
</div>
<div>
  <a class="nav-link" routerLink="formtemp" routerLinkActive="active">Form-template </a>
</div>
<div>
  <a class="nav-link" routerLink="employees" routerLinkActive="active">Employee </a>
</div>

<!-- Page Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="py-5 bg-dark mt-xl-5">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
